/* FONDOS */

.bg-dark {
    background-color: rgba(68, 68, 68, 0.335);
}

.bg-lighter {
    background-color: #c0c0c0;
}

.bg-light {
    background-color: #faf9f9;
}

.txt-color {
    color: red;
}

.rounded {
    border-radius: 5px;
}