/* FONDOS */
.bg-darkness {
    background: #000;
}

.bg-dark {
    background-color: rgba(68, 68, 68, 0.335);
}

.bg-lighter {
    background-color: #c0c0c0;
}

.bg-light {
    background-color: #faf9f9;
}

.txt-color {
    color: red;
}

.txt-color-brown {
    color: brown;
}

.txt-color-light {
    color: #fff;
}

.rounded {
    border-radius: 5px;
}